body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p,input,select,legend,textarea,fieldset{ margin:0; padding:0;}
ul, ol{list-style-type: none; list-style-position: outside;}

.container{
width: 930px;
margin: 0 auto;
position:relative;
display: block;

}
.wrap_slider{
	width: 560px;
	display: block;
	margin: 0 auto;
	position:relative;
	display: block;
	margin-top:20px;
}
.wrap_slider img {
width: 205px;
 
}
.wrap_slider .album{
	font-weight:bold;
	font-size:16pt;
	margin-bottom:10px;
}
.wrap_slider .right {
width: 320px;
float: left;
}
.wrap_slider .left {
width: 210px;
float: left;
}
.chatsearch {float:right; padding: 5px;  overflow: hidden; width: 240px; margin-right:10px;margin-top: -30px;}
.chatsearch input { 
	float:left;
	border: 1px solid #ddd;   padding: 7px 5px 7px 35px;  	width: 200px;	 background: #fff url(../../assets/images/search.png) no-repeat left center; 
	color: #ccc;
}
 
.chatsearch input:focus { color: #333; }
.chatsearch label {float:left;}
.boxed{
}
 
.boxed #wrap_all{
width: 1000px;
margin: 0 auto;
position:relative;
}

.container_wrap, #wrap_all{ /*div for perfect centering of large scale background images*/
width: 100%; margin: 0 auto; z-index: 1;
position:relative; display:table;
}
 
 
/*default image handling*/
img { border:none; padding: 0; margin:0; display:block;}
 
/*the first class overwrites both columns and grid container margins.*/
div .first{
margin-left: 0;
clear: left;
}
div.autosuggest
{
	position: absolute;  
	 top:20px;
	-moz-border-radius: 2px; 
	display: none;
	-webkit-border-radius: 2px; 
	border-radius: 2px; 
	background: #fff; 
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
	 z-index: 1000;
}

div.autosuggest ul
{
	

	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff; /* fondo */
	border-color: #f1ca7f;
    border-style: solid;
     z-index: 200;

}

div.autosuggest ul li
{
	color: #ccc; /* texto */
	font-weight: bold;

	padding: 0;
	margin: 6px 6px 10px;
	text-align: left;
	
}
div.autosuggest ul li a
{
	font-size: 11px;
	color: #3b5998; /* texto */
	display: block;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	padding: 0;
	width: 100%;
	
}

div.autosuggest ul li a:hover
{
	background-color: #f1ca7f; 
	color: #fff; /* texto */
}
.contactlist { list-style-type: none;line-height: 21px; }
.contactlist li {list-style-type: none; border: 1px solid #eee; border-top: 0; position: relative; padding: 1px; }
.contactlist li span.msgcount { 
	position: absolute; top: 12px; right: 10px; font-size: 10px; padding: 3px 5px; line-height: 10px; color: #fff; background: #FB9337; font-weight: bold;  
	-moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;
}
.contactlist li a { padding: 8px 5px; display: block; color: #666; }
.contactlist li.online a { background: url(../images/online.html) no-repeat right 16px; }
.contactlist li.new a { font-weight: bold; }
.contactlist li a:hover { background-color: #fcfcfc; text-decoration: none; }
.contactlist li a img { vertical-align: middle; display: inline-block; margin-right: 10px; }

 
 

body{
font: 12px/1.7em "Helvetica Neue",Helvetica,Arial,sans-serif;
position:relative;
overflow-x: hidden;
}


/************************************************************************
-) HEAD
*************************************************************************/


#header{ /*head area, which contains main menu and logo*/
z-index: 100;
}

#header .container{
/*height:90px;*/ /*uncomment this is you want a specific height for the header. otherwise it will adjust to the logo size*/
padding: 10px 0 15px 0;
z-index: 100;
}

#header .container.main_menu{
z-index: 101;
}


#top .logo, .logo a{
display:block;
position:relative;
border: none;
padding: 0;
margin:0;
}

#top .logo a, #top .logo a:hover{
top:0;
left:0;
outline:none;
border: none;
margin-top:10px;
}

#top .logo img{
border:none;

}

#top .bg-logo, #top .bg-logo a{
text-indent: -9999px;
height:100px;
width:201px;

}


/*breadcrumb*/

#top #breadcrumb_wrapper{
font-size:11px;
position: relative;
z-index: 10;
padding:0;
}

#breadcrumb_wrapper .breadcrumb {
    padding: 2px 5px;
    position: absolute;
    top: -12px;
    right:0;
}

.breadcrumb_info{
display:none;
}


/*submenu*/



#header .submenu .container{
min-height:40px;
padding:0;
font-size: 11px;
}


.submenu .menu li{
float:left;
font-size: 11px;
padding:0px 4px 0 0;
}

.submenu .menu li a{
line-height:40px;
padding-right:10px;
}

.submenu .menu li:last-child a{
background: none;
}

.submenu .menu li div, .submenu .menu li ul{
display:none;
}

#top .social_bookmarks{
position: absolute;
right:0;
top:11px;
height:20px;
}

#top .social_bookmarks li{
float:left;
padding:0;
}

#top .social_bookmarks li a{
float:left;
width:25px;
line-height:20px;
display: block;
text-indent: 9999px;
margin-left:10px;
outline: none;
padding:0;
}

#top .social_bookmarks li.phone{
width:auto;
padding-right:8px;
}

#top .social_bookmarks li.phone a, #top .social_bookmarks li.phone a:hover{
height:auto;
width:auto;
text-decoration: underline;
text-indent: 0;
opacity: 1;
}

.social_bookmarks li a:hover{
opacity:0.7;
}

.social_bookmarks #searchform{
display:none;
}

/*menu*/

#top .main_menu .menu{
height:50px;
line-height:30px;
padding-left:13px;
right:0px;
position:absolute;
z-index:300;
top:40px;
}

#top div .main_menu .no_description_menu{
top:49px;
}

#top div .main_menu .no_description_menu a{
min-height:21px;
font-size:14px;
}

#top .main_menu .no_description_menu.menu ul {
padding-top: 15px;
}


.main_menu .menu, .main_menu .menu ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:50px; 
z-index:5;
}

#top .main_menu .menu a{
display:block;
float:left;
line-height:18px;
outline:medium none;
padding:2px 15px;
text-decoration:none;
max-width:105px;
min-height: 35px;
z-index: 10;
position: relative;
}

.main_menu .menu li a strong {
display:block;
font-size:14px;
font-weight:normal;
cursor: pointer;
}

.main_menu .menu li a span {
display:block;
font-size:11px;
line-height:14px;
color:#999;
cursor: pointer;
position: relative;
}


#top .main_menu .menu li{
float:left;
position:relative;
z-index:20;
}


#top .main_menu .menu li:first-child a{
/*border:none;*/
}


#top .main_menu .menu ul {
display:none;
left:0;
position:absolute;
top:9px;
width:192px;
padding-top:30px;
z-index: 2;
cursor: pointer;
}


#top .main_menu .menu li ul a{
width:160px;
height:auto;
float:left;
text-align:left;
line-height:24px;
padding:4px 15px;
font-size: 12px;
min-height: 24px;
max-width: none;
}

#top .main_menu .menu ul ul{
top:auto;
padding-top: 0px !important;
}	

#top .main_menu .menu li ul ul {
left:191px;
top:0px;
}

#top .main_menu .menu li:hover ul ul, #top .main_menu .menu li:hover ul ul ul,#top  .main_menu .menu li:hover ul ul ul ul{
display:none;	
}
#top .main_menu .menu li:hover ul, #top .main_menu .menu li li:hover ul, #top .main_menu .menu li li li:hover ul, #top .main_menu .menu li li li li:hover ul{
display:block;
}



/************************************************************************
-) FOOTER
*************************************************************************/

#footer{
padding:10px 0 40px 0;
font-size:11px;
}

#footer .widget{
padding:30px 0;
width:100%;
}

 
 
/*nav menu widget*/

.widget_nav_menu{
padding:0;
}

.widget_nav_menu a{
display: block;
padding:4px 20px 4px 10px;
}

.widget_nav_menu .current-menu-item>a, .widget_nav_menu .current_page_item>a{
font-weight: bold;
}

#top .widget_nav_menu ul{
padding:0;
margin:0;
overflow: hidden;
}


#top .widget_nav_menu .sub-menu, #top .widget_nav_menu .children{
padding:0 0 0 10px;
overflow: hidden;
margin:0;
}

.sidebar_right>.widget_nav_menu a{
padding:4px 10px 4px 20px;
}

#top .sidebar_right>.widget_nav_menu .sub-menu, #top .sidebar_right>.widget_nav_menu .children{
padding:0 10px 0 10px;
}

/************************************************************************
-) CONTENT AREA
*************************************************************************/
/*content area*/

#main{ /*main area, contains all content and sidebars*/
float: left;
padding: 40px 0;
width: 100%;
}

.content, #top .fullwidth .template-blog.content{
width:610px;
padding-right: 30px;
float:left;
}

#top .content .content{
margin:0;
padding:0;
}


.fullwidth .content, .template-portfolio-overview.content, .template-fullwidth.content{
width:100%;
padding:0; margin:0;
}


.post-entry{
clear: both;
padding-bottom:100px;
position: relative;
}

.post-entry-dynamic{
padding:0;

}

#top .post-title {
font-size: 15px;
padding: 0 0 7px 0;
}

#top .sidebar_left .template-blog .post-title {
    margin-left:0;
    margin-right:160px;
}
 
#top .template-blog .post-title{
margin-left:160px;
}
.template-single-blog .post-entry, .template-blog .post-entry{
width:100%;
float:left;
}

.template-single-blog .post-entry{
padding:0;
}

.related-meta, .comment_meta_container{
width:130px;
float: left;
padding-right:30px;
}

.comment_container{
float:left;
width:450px;
}

#top .firstheading {
position: relative;
top: -39px;
font-size: 22px;
padding: 35px 0;
text-align: center;
}

.latest-portfolio-archive{
width:100%;
overflow: hidden;
padding-top:10px;
}
 




/*alternate content based on sidebar position*/

#top div .sidebar_no_margin{
margin-top:0;
}

/*comment*/
.sidebar_left .related-meta, .sidebar_left .comment_meta_container{
float: right;
padding:0 0 0 30px;
clear:both;
}

.dual-sidebar .related-meta, .dual-sidebar  .comment_meta_container{
float:none;
padding:0 0 15px 0;
width:100%;
}

/*small prev images*/


.small_image .blog-meta, .dual-sidebar .blog-meta{
float: right;
margin:0;
padding:3px 0;
width:450px;
}

.small_image  .minor-meta, .dual-sidebar .minor-meta{
display: block;
padding-right:2px;
float: left;
}

.text-sep{
display:none;
float:left;
padding:0 5px;
font-size: 10px;
}

.small_image .text-sep, .dual-sidebar .text-sep, #js_sort_items .text-sep{
display: block;
}

.mini_slider{
width:130px;
float: left;
}

.permalink{
display:block;
font-size:11px;
padding:3px 25px 3px 0px;
text-align: right;
}
 
 
 
 

/*portfolio w sidebars*/

#top .portfolio-size-2.sidebar_left{
width:610px;
float:right;
}

#top .portfolio-size-2.sidebar_right{
width:610px;
padding-right:30px;
}

#top .portfolio-size-3.sidebar_left{
width:610px;
float:right;
}

#top .portfolio-size-3.sidebar_right{
width:610px;
padding-right:30px;
 }

#top .container-portfolio-size-3.sidebar_left .sidebar .avia_partner_widget a, #top .container-portfolio-size-3.sidebar_right .sidebar .avia_partner_widget a, .dual-sidebar .avia_partner_widget a, .dual-sidebar .avia_partner_widget a:hover{ 
border-width: 28px;
}

#top .container-portfolio-size-3.sidebar_left .sidebar .avia_partner_widget .avia_partner1, #top .container-portfolio-size-3.sidebar_right .sidebar .avia_partner_widget .avia_partner1, .dual-sidebar .avia_partner_widget .avia_partner1, .dual-sidebar .avia_partner_widget .avia_partner1:hover{ 
margin-bottom:5px;
}




.portfolio-categories .date-container{
display:block;
clear:both;
width:100%;
}

 

 
.previous_post_link_align{
float:left;
margin:0 0 4px 0;
padding: 0 0 0 18px;
display: block;
position: relative;
left:-5px;
}
/*blog meta*/



 

div .blog-meta .slideshow_container{
margin-bottom: 20px;
}

.template-blog .entry-content {
float: right;
position: relative;
width: 450px;
}

 

 
 

/************************************************************************
-) COMENTARIOS
*************************************************************************/

#comments, .miniheading, .author_name, #reply-title, #top .logged-in-as, .dynamic-column-title{
font-size: 10px;
font-weight: bold;
letter-spacing: 1.5px;
text-transform: uppercase;
font-style: normal;
}

#comments span, .minitext, .form-allowed-tags, #reply-title small, #commentform label{
font-size: 11px;
display:block;
letter-spacing: 0;
text-transform: none;
padding-top:8px;
line-height: 1.5em;
font-weight: normal;
}


#top .commentlist{
padding: 0 0 30px 0px;
border:none;
}


#top .commentlist .comment{
list-style-type: none;
list-style-position: outside;
width:100%;
position: relative;
display: block;
border:none;
background: none;
min-height:100px;
clear: both;
}



#top .gravatar img{
padding:7px;
margin:0;
}


.comment_content{
position:relative;
margin:-44px 0 0 55px;
padding:0 0 30px 0;
}



.author_name a, .author_name a:hover{
font-weight: bold;
text-decoration: none;
}

.comment-edit-link, #cancel-comment-reply-link{
display:inline-block;
font-size: 10px;
}

.author_name{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.commentmetadata {
font-size:11px;
line-height: 1em;
}

.says {
display: block;
height: 1px;
left: -70px;
position: absolute;
text-indent: -9999px;
top: 18px;
width: 40px;
}
 



 
 
/************************************************************************
-) GENERIC
*************************************************************************/
#top .wp-caption.aligncenter{
margin:5px auto 10px auto
}

.lightbox_video, .lightbox_image, .image_overlay_effect, .image_overlay_effect_inside{
position: absolute;
z-index: 2;
top:0;
left:0;
right: 0;
bottom:0;
}



a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
}


h1, h2, h3, h4, h5, h6, legend, .sliderheading {
font-weight:bold;
line-height:1.4em;
position:relative;
}

h1{clear:both; font-size:20px; font-weight:normal; text-transform: none;}
h2{font-size:18px; clear:both; font-weight:normal; text-transform: none;}
h3, legend{font-size:16px; clear:both;}
h4{font-size:14px; clear:both; text-transform: uppercase;}
h5{font-size:12px; clear:both; text-transform: uppercase;}
h6{font-size:10px; clear:both; }

.more-link {
display: inline-block;
font-size: 11px;
font-style: italic;
padding-top: 8px;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{
padding-top:15px;
}

.entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{
font-size: 11px;
font-weight: bold;
letter-spacing: 1.5px;
text-transform: uppercase;
font-style: normal;
}

.entry-content h5{
font-weight: bold;
letter-spacing: 0px;
}

.entry-content h6{
font-weight: normal;
letter-spacing: 0px;
}


p{ padding: 0.5em 0;}

#main ul, #main  ol {
margin-bottom:10px;
}

.floatleft{
float:left;
}

.floatright{
float:right;
}

.clearboth{
clear:both;
}
 